$blue: #2d8cf6;
$dark-blue: #1e55c9;
$green: #6dc98a;
$gray: #c5ced7;
$label-gray: #a3a3a3;
$input-gray: #878787;
$nav-header-gray: #5a646e;
$text-gray: #959daa;
$btn-gray: #707070;
$black: #464646;
$bg-gray: #f0f0f0;
$font-default-color: #525252;
$btn-bg: #c4c4c4;
$btn-blue-font: #444bee;