$blue: #2d8cf6;
$dark-blue: #1e55c9;
$green: #6dc98a;
$gray: #c5ced7;
$label-gray: #a3a3a3;
$input-gray: #878787;
$nav-header-gray: #5a646e;
$text-gray: #959daa;
$btn-gray: #707070;
$black: #464646;
// Home colors
$home-blue: #0d49e1;
$purple: #7c1dcf;
$light-gray: #ececec;
$light-pink: #f1e5f1;
$red: #c81015;
$orange: #e54d0e;
$home-dark-blue: #07337e;
$home-blue-2: #257bde;
$home-light-blue: #61b0fd;
// Box Surpresa Start
$font-default-color: #525252;
$btn-start-orange: #ffa202;
// Box Dashboard
$btn-dash-red: #bb2d3b;
$btn-dash-grape: #7c1dcf;
$btn-dash-blue: #2d8cf6;
$light-grape: #efe6f9;