// Component sizes
$nav-height: calc(3rem + 3vw);

// Useful responsive sizes
$md-gap: calc(1rem + 1vw);

// Default screen sizes
$extra-small: 36em; // 576px
$small: 48em;       // 768px
$medium: 62em;      // 992px
$large: 75em;       // 1200px