<h1>Pagamento Aprovado</h1>
<h2>Agora é aguardar o recebimento do seu BOX's em sua casa e curtir a experiência da melhor maneira possível!</h2>
<%= button_to 'Acompanhar meus pedidos', my_boxes_path, method: :get, class: 'btn btn-dark w-100' %>
