.address-card {
    border-radius: 0.5rem;
    box-shadow: 0 0.05rem 0.1rem 0.05rem rgba(0, 0, 0, 0.15);
    padding: $md-gap;
    margin-bottom: 15px;
    position: relative !important;
    display: flex;
    h2 {
        color: $text-gray;
        font-size: calc(0.8rem + 0.8vw);
        margin-bottom: 0;
        display: inline;
    }
    span {
        font-size: calc(0.8rem + 0.4vw);
        color: $text-gray;
    }
    p {
        color: $black;
        margin-bottom: 0;
    }
    .fa-ellipsis-h {
        color: $text-gray;
    }
    .dropdown-menu {
        min-height: 50px;
        padding: 10px;
    }
    li {
        color: $black;
    }
    .address-card-menu {
        width: 0;
        opacity: 0;
        overflow: hidden;
        transition-property: width, opacity;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }
    input[type="checkbox"] {
        display: none;
    }
    input[type="checkbox"]:checked~.address-card-menu {
        width: 25px;
        opacity: 1;
        transition-property: width, opacity;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
    }
    label {
        position: absolute;
        top: 5px;
        right: 10px;
    }
    .address-card-content {
        width: 100%;
    }
    .main-address-badge {
        color: $dark-blue;
    }
}

.address-form {
    padding-bottom: 30px;
}

.address-choice {
    // border-radius: 0.5rem;
    // box-shadow: 0 0.05rem 0.1rem 0.05rem rgba(0, 0, 0, 0.15);
    // position: relative;
    // display: flex;
    .choice-label {
        width: 100%;
    }
    [type="radio"] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }
    [type="radio"]+div {
        cursor: pointer;
    }
    [type="radio"]:checked+div {
        outline: 2px solid $dark-blue;
    }
}

#addressChoiceModal {
    .modal-header {
        border-bottom: none !important;
    }
}