.session {
  img {
    height: calc(8rem + 8vw);
  }
  .btn-blue {
    margin-bottom: $md-gap;
  }
  p {
    color: $nav-header-gray;
  }
}
#page-container {
  .session {
    p {
      font-size: calc(1rem + .2vw);
    }
  }
}