<div id="alerts">
  <% if notice %>
    <div class="alert info fade show" data-controller="alert" role="alert">
      <%= notice %>
    </div>
  <% end %>
  <% if alert %>
    <div class="alert warning fade show" data-controller="alert" role="alert">
      <%= alert %>
    </div>
  <% end %>
</div>