<div class='nav'>
  <%= link_to :back do %>
    <i class="fas fa-arrow-left"></i>
    <p class="visibility-hidden">Voltar a página anterior</p>
  <% end %>
  <p><%= content_for(:page_header) || "Box Surpresa" %></p>
</div>