<div id='nav'>
  <%= link_to :back do %>
    <%= inline_svg_tag 'icons/arrow.svg' %>
    <p class="visibility-hidden">Voltar a página anterior</p>
  <% end %>
  <h3><%= content_for(:page_header) || "Box Surpresa" %></h3>
</div>