<div class='text-center'>
    <h1>Assinatura Cancelada.</h1>
  <br>
  <p>Sua assinatura foi cancelada, a partir deste momento o pagamento do mês será cancelado e o último envio será realizado conforme a data de contratação</p>
  <br>
  <p>Termo de cancelamento</p>
  <br>
  <%= link_to 'Retornar aos seus planos', my_boxes_path, class: 'btn btn-dark w-100' %>
</div>
