<% content_for(:page_header, 'Meus Endereços') %>
<div class="container addresses-container">
  <div class="row d-flex justify-content-between mb-3">
    <div class="col">
      <span>Meus endereços</span>
    </div>
    <div class="col text-end">
      <%= link_to '#', data: { 'bs-toggle': 'offcanvas', 'bs-target': '#newAddressCanvas' } do %>
        <i class="fas fa-plus"></i> Novo endereço
      <% end %>
    </div>
  </div>

  <div id="addresses-list">
    <% @addresses.each do |address| %>
      <%= render 'addresses/address', address: address %>
    <% end %>
  </div>
  <div class="container offcanvas offcanvas-end" id="newAddressCanvas" tabindex="-1" aria-labelledby="sessionHeaders" aria-hidden="true">
    <div class="pt-5 ms-auto">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <%= render 'addresses/form', address: @address %>
  </div>
</div>
