<div class="container offcanvas offcanvas-end" id="editAddress<%= address.id %>Canvas" tabindex="-1" aria-labelledby="sessionHeaders" aria-hidden="true">
  <div class="pt-5 ms-auto">
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <%= render 'addresses/form', address: address %>
</div>
