<div class="box-card" style="background-color: <%= review.carrefour_box.color %>">
  <p>Comentário de <%= review.user.first_name %> :   <% (review.rating.to_i).times do %>
      <i class="fas fa-star"></i>
    <% end %>
    <% (5 - review.rating.to_i).times do %>
      <i class="far fa-star"></i>
    <% end %></p>
  <p><%= review.content %></p>
</div>
