<div class="info-container">
  <h2>Como funciona?</h2>
  <p>Escolha: um ou mais BOX com tamanhos  e categorias que te agradem. Lembre-se que o valor dos itens serão superior ao valor pago.</p>
  <p>Descreva: nos informe quais são suas preferências para que possamos personalizar seu BOX baseando-se no seu gosto.</p>
  <p>Receba em casa: chegou a hora tão esperada, receber seu BOX em casa e desfrutar do conteúdo.</p>
</div>
