<div class="info-container">
  <h2>O que você recebe?</h2>
  <p>A cada caixa você tem uma experiencia surpreendente. Abaixo contamos um pouco mais pra você de cada categoria:</p>
  <p><b>BOX Happy Hour:</b> bebidas como cerveja, vinho, destilados, sucos e refrigerante. Além de saborosos aperitivos.</p>
  <p><b>BOX Beleza e Cuidado:</b> produtos para cuidados do rosto e corpo como hidratantes, esfoliantes e óleos. Além de produtos  para o cabelo e de esmaltaria.</p>
  <p><b>BOX Receita Certa:</b> ingredientes para que você possa realizar em sua residência os pratos tipicos de Chef.</p>
</div>
