<div class="info-container">
  <h2>O que é o BOX Surpresa?</h2>
  <p>BOX Surpresa é um programa personalizado de assinatura de diferentes categorias. Possui produtos exclusivos e selecionados de acordo com o seu perfil, trazendo comodidade e facilidade para a sua vida. </p>
</div>
