<div class="start-container">
  <small>
  <h1 class="text-center">Termo de Adesão – Assinatura Box Surpresa</h1>
  <div class="text-justify">
    <p style="font-size: 10px;"><%= "Eu, #{current_user.name}, inscrito no CPF/MF sob o nº: #{current_user.cpf}, contratantedo serviço de assinatura do Box Surpresa, autorizo a cobrança do(s) produto(s) eserviço(s) adquirido(s), diretamente em minha fatura do cartão cadastrado evalidado pelo assinante no momento da contratação.A vigência desse plano será iniciada no momento da adesão de um ou mais Box,logo após a confirmação de contratação dos serviços dentro do aplicativo MeuCarrefour (Box Surpresa). O presente contrato de assinatura tem por objetivo garantir ao assinante o recebimento mensal de um ou mais Box(s), contratados através do aplicativo MeuCarrefour (Box Surpresa) podendo ser cancelado (parcialmente ou totalmente) à qualquer momento pelo assinante, na área de cancelamento deste aplicativo. São   elegíveis   às   condições   especiais   para   descontos   nas   assinaturas:"%></p>
    <ul>
      <li style="font-size: 10px;">Assinantes de mais de um Box de produtos, tendo desconto mensal de 5% novalor total da contratação para cada Box adicionado, limitando-se ao desconto totalde 10% nas assinaturas (Ex: 02 Boxes 05% e 03 Boxes 10% no total do contrato);</li>
      <li style="font-size: 10px;">Usuários do cartão Carrefour possuem a vantagem de Frete Grátis para recebimento de um ou mais Box.</li>
    </ul>
    <p style="font-size: 8px;">Obs.: As condições especiais possuem caráter cumulativo, podendo chegar à 10% de desconto na assinatura com Frete Grátis.</p>
  </div>
</div>
