<div class="info-container">
  <h2>Mais vantagens?</h2>
  <p>Adquirindo mais de um BOX, você ganha 5% de desconto no 2º BOX e 10% de desconto no 3º BOX.</p>
  <p>Usando o cartão Carrefour você ganha ainda mais:</p>
  <p>Frete grátis!</p>
</div>
